<%- include('../partials/header') %>

<main>
  <div class='wrapper'>
    <div class='container'>
      <div class='row mb-4'>
        <h1 id='pageTitle'><%= title %></h1>
      </div>
      <div class='row'>
          <div class='card mx-50' id='newCourseCard'>
            <form id='new-form' action='/courses' method='POST'>
              <div class='row'>
                <div class='col-md-1 my-2'> </div>
                <div class='col-md-11 my-2 d-flex align-self-start' id='newCourseName'>
                  <label>Golf Course Name:</label>
                  <input type='text' name='name' id='newCourseNameInput' size='41' placeholder='Course Name' required='true'>
                </div>
              </div>

              <div class='row'>
                <div class='col-md-1 my-2'> </div>
                <div class='col-md-6 my-2' id='newCourseCity'>
                  <label>City: </label>
                  <input type='text' name='city' id='newCourseCityInput' size='25' placeholder='City' required='true'>
                </div>
                <div class='col-md-5 my-2' id='newCourseState'>
                  <label>State: </label>
                  <input type='text' name='state' id='newCourseStateInput' size='5' placeholder="ST" required='true'>
                </div>             
              </div>
              
              <div class='row'>
                <div class='col-md-1 my-2'> </div>
                <div class='col-md-10 my-2 d-flex align-items-center' id='newCourseSummary'>
                  <label>Summary: </label>
                  <textarea name='summary' size='40' rows='2' cols='50'>Enter a brief summary here.</textarea>
                </div>
                <div class='col-md-1 my-2'> </div>
              </div>

              <div class='row'>
                <div class='col-md-1 my-2'> </div>
                <div class='col-md-4 my-2' id='newCourseRank'>
                  <label>US Rank: </label>
                  <input type='text' name='usRank' size='5' placeholder="0">
                </div>
                <div class='col-md-4 my-2' id='newCourseBuilt'>
                  <label>Year Built:</label>
                  <input type='text' name='yearBuilt' size='4' placeholder="2021">
                </div>
                <div class='col-md-3 my-2' id='newCoursePublic'>
                  <label>Public?: </label>
                  <input type='checkbox' name='public'>
                </div>
              </div>

              <div class='row'>
                <div class='col-md-1 my-2'> </div>
                <div class='col-md-11 my-2' id='newCourseArchitects'>
                  <label>Architects: </label>
                  <input type='text' name='architects' size='48' placeholder="Tiger Woods">
                </div>
              </div>

              <div class='row'>
                <div class='col-md-1 my-2'> </div>
                <div class='col-md-14 mx-4 my-2' id='newCourseImage'>
                  <div> Image URL:</div>
                  <input type='text' name='imageUrl' size='58' value='images/golf_placeholder.jpg' required='true'>
                </div>
                <div class='col-md-1 my-2'> </div>
              </div>

              <div class='row'>
                <div class='col-md-4 mx-3'> </div>
                <button type='submit' class='btn btn-warning col-md-3 my-2'>Add New Course</button>
                <div class='col-md-1 my-2'> </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</main>


<%- include('../partials/footer') %>