html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-image: url("https://c.pxhere.com/photos/21/10/backdrop_background_botany_Closeup_color_countryside_dark_dark_green-1607725.jpg!d");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: black;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 120px 11fr 1fr;
  grid-template-columns: 100%;
  grid-template-areas:
    'nav'
    'main'
    'footer'
}

nav {
  grid-area: nav;
  background-color: #076504;
  background: linear-gradient(0deg, rgba(22,142,32,1) 0%, rgba(7,101,4,1) 100%);
  font-size: 1.6rem;
  border-bottom: 3px solid black;
}

main {
  grid-area: main;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}

footer {
  grid-area: footer;
}

h1 {
  font-size: 3.6rem;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: lime;
}

.navbar-light .navbar-nav .nav-link {
  color: lime;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 5rem;
  margin: 0 1.5rem 0 0;
  font-size: 1.9rem;
  text-shadow: 2px 2px black; 
}

.nav-link.active,.nav-link:focus{
  color: red;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.wrapper {
  padding-top: 50px;
}

.card-img-top {
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  min-height: 225px;
}

.card-body {
  text-align: center;
  box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5);
}

.card-body h6 {
  font-size: 1.25rem;
  color: #0ea508;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75rem;
  color: #022304;
}

#newCourseCard {
  color: white;
  background: linear-gradient(0deg, rgba(22,142,32,1) 0%, rgba(7,101,4,1) 100%);
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  min-width: 600px;
  min-height: 325px;
  font-size: 1.5rem;
}

#editCourseCard {
  color: white;
  background: linear-gradient(0deg, rgba(22,142,32,1) 0%, rgba(7,101,4,1) 100%);
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  min-width: 600px;
  min-height: 325px;
  font-size: 1.5rem;
}

#showCourseCard {
  color: white;
  background: linear-gradient(0deg, rgba(22,142,32,1) 0%, rgba(7,101,4,1) 100%);
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  width: 625px;
  min-height: 400px;
  font-size: 1.5rem;
}

#searchCourseCard {
  color: white;
  background: linear-gradient(0deg, rgba(22,142,32,1) 0%, rgba(7,101,4,1) 100%);
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px;
  min-width: 600px;
  min-height: 50px;
  font-size: 1.5rem;
}

#noResultsYet {
  color: white;
  text-shadow: 3px 3px black;
}

#showCourseImage {
  max-width: 300px;
  max-height: 300px;
}

#pageTitle {
  color: #fff;
  text-shadow: 3px 3px black; 
}

#avatarPhoto {
  border-radius: 50%;
  background-color: rbga(0, 0, 0, 100);
  padding: 0 0 0 0;
}

footer {
  margin: 10px;
  font-size: 16px;
  color: #fff;
  text-shadow: 2px 2px black; 
}